@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

body{
    overflow: hidden;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/*header*/

.header{
    height: 70px;
    align-items: center;
    display: grid;
    width: 100%;
    position: absolute;
    z-index: 23;
    border-bottom: 1px solid #f3f0f0;
}

.header .header__container{
    width: 100%;
}

.header .header__container  .header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header__container  .header__content a{
    text-decoration: none;
}

.header .header__container  .header__content a h1{
    text-decoration: none;
    font-size: 36px;
    font-weight: 400;
    color: black;
}

.header .header__container  .header__content a h1:hover{
    color: #0abf53;
    transition: all 0.3s linear;
}

.header .header__container  .header__content a h1 i{
    color: #0abf53;
}

.header .header__container  .header__content .header__menu ul{
    list-style: none;
    display: flex;
    cursor: pointer;
}

.header .header__container  .header__content .header__menu ul li{
    font-size: 18px;
    padding: 0 15px;
}

.header .header__container  .header__content .header__menu ul li:hover{
    color: #0abf53;
    transition: all 0.3s linear;
}

.header .header__container  .header__content .header__menu ul li:first-child{
    color: #0abf53;
}

.header .header__container  .header__content .header__icon i{
    font-size: 18px;
    padding: 0 15px;
    cursor: pointer;
}

.header .header__container  .header__content .header__icon i:hover{
    color: #0abf53;
    transition: all 0.3s linear;
}

.header .header__container  .header__content .header__icon i:last-child{
    font-size: 22px;
}

/*header*/

/*banner*/
.banner{
    background-image: url(https://wp.w3layouts.com/foodies/wp-content/themes/foodies/assets/images/banner.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.banner .banner__container .banner__content{
    display: flex;
    align-items: center;
    margin-left: -15px;
    margin-right: -15px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute; 
}

.banner .banner__container{
    position: relative;
    height: 100%;
}

.banner .banner__container .banner__content .banner__heading{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}

.banner .banner__container .banner__content .banner__heading h3{
    font-size: 60px;
    font-weight: 450;
    width:  60%;
}

.banner .banner__container .banner__content .banner__heading p{
    font-size: 18px;
    color: #6b6768;
    line-height: 28px;
    font-weight: 400;
    padding: 40px 0;
    letter-spacing: .5px;
}

.banner .banner__container .banner__content .banner__heading span{
    font-size: 20px;
    padding: 15px 40px;
    color: #fff;
    background-color: #0abf53;
    border-radius: 30px;
}


.banner .banner__container .banner__content .banner__image{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}

/*banner*/

/*welcome*/
.welcome{
    padding: 48px 0;
}

.welcome .welcome__container .welcome__content{
    display: flex;
    align-items: center;
}

.welcome .welcome__container .welcome__content .welcome__img{
    flex: 0 0 50%;
    max-width: 50%;
}

.welcome .welcome__container .welcome__content .welcome__heading{
    flex: 0 0 50%;
    max-width: 50%;
}

.welcome .welcome__container .welcome__content .welcome__heading  h3{
    font-size: 40px;
    font-weight: 400;
}

.welcome .welcome__container .welcome__content .welcome__heading  h3 span{
    font-weight: 600;
    color: #0abf53;
}


.welcome .welcome__container .welcome__content .welcome__heading p{
    font-size: 18px;
    color: #6b6768;
    line-height: 35px;
    padding:25px 0;
}

.welcome .welcome__container .welcome__content .welcome__heading a{
    font-size: 20px;
    color: #fff;
    padding: 15px 40px;
    background-color: #0abf53;
    text-decoration: none;
    border-radius: 30px;
    display: inline-block;
}

/*welcome*/

/*hello*/
.hello{
    padding: 48px 0;
}

.hello  .hello__container .hello__content{
    display: flex;
    align-items: center;
    text-align: center;
}

.hello  .hello__container .hello__content h4{
    flex: 0 0 40%;
    max-width: 40%;
    padding: 0 15px;
    font-size: 48px;
    font-weight: 300;
    text-align: center;
}

.hello  .hello__container .hello__content .hello__image{
    flex: 0 0 60%;
    max-width: 60%;
    display: flex;
}

.hello  .hello__container .hello__content .hello__image .hello__all{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0  15px;
}

.hello  .hello__container .hello__content .hello__image .hello__all .hello__img img{
    display: block;
    width: 100%;
}

.hello  .hello__container .hello__content .hello__image .hello__all .hello__img{
    position: relative;
}

.hello  .hello__container .hello__content .hello__image .hello__all .hello__img .hello__text{
    position: absolute;
    bottom: 0;
    width:100%;
    text-align: center;
    height: 40%;
    background-color: #04040491;
    color: #fff;
    padding: 30px;
}

.hello  .hello__container .hello__content .hello__image .hello__all .hello__img .hello__text h5{
    font-size: 25px;
}

.hello  .hello__container .hello__content .hello__image .hello__all .hello__img .hello__text p{
    margin-top: 10px;
}

.hello  .hello__container .heloo__text{
    display: flex;
    padding: 60px;
    flex-wrap: wrap;
}


.hello  .hello__container .heloo__text .hello__item{
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
    padding: 20px;
}

.hello  .hello__container .heloo__text .hello__item .hello__ill i{
    font-size: 25px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-color: rgb(10 191 83 / 10%);
    border-radius: 50%;
    text-align: center;
    color:#0abf53;
    cursor: pointer;
}

.hello  .hello__container .heloo__text .hello__item .hello__icon{
    margin-left: 20px;
}

.hello  .hello__container .heloo__text .hello__item .hello__icon p{
    font-size: 18px;
    color: #6b6768;
    line-height: 35px;
    padding-bottom: 20px;
}

.hello  .hello__container .heloo__text .hello__item .hello__icon span{
    font-weight: 600;
    cursor: pointer;
}

.hello  .hello__container .heloo__text .hello__item .hello__icon span:hover{
    color: #0abf53;
    transition: all 0.2s linear;
}


.hello .hello__container .heloo__text .hello__item:hover .hello__ill i{
    color: #fff;
    background-color: #0abf53;
    transition: all 0.5s linear;
}

/*hello*/

/*you*/
.you{
    padding: 48px 0;
    background-color: #f4fdf8;
}

.you .you__container .you__all {
    display: flex;
    align-items: center;
    margin-left: -15px;
    margin-right: -15px;
}

.you .you__container .you__all .you__content{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}

.you .you__container .you__all .you__content h3{
    font-size: 48px;
    font-weight: 400;
}

.you .you__container .you__all .you__content p{
    font-size: 18px;
    color: #6b6768;
    line-height: 30px;
    padding: 25px   0;
}

.you .you__container .you__all .you__content span{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    padding: 15px 40px;
    background-color: #0abf53;
    display: inline-block;
    border-radius: 30px;
}

.you .you__container .you__all .you__image{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
    position: relative;
}

.you .you__container .you__all .you__image img{
    width: 100%;
    display: block;
    border-radius: 30px;
}

.you .you__container .you__all .you__image i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 60px;
    color: #fff;
    background-color: rgb(10 191 83 / 54%);
    border-radius: 50%;
}

.you .you__container .you__all .you__image i:hover{
    font-size: 80px;
    transition: all 0.3s linear;
}

/*you*/

/*blog*/
.blog{
    padding: 48px 0;
}

.blog   .blog__container    .blog__content h3{
    font-size: 40px;
    font-weight: 500;
    padding: 30px 0;
}

.blog  .blog__container .blog__content .blog__image{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

.blog   .blog__container    .blog__content  .blog__image .blog__all{
    flex: 0 0   33.333333%;
    max-width: 33.333333%;
    padding: 0  15px;
}   

.blog   .blog__container    .blog__content  .blog__image .blog__all .blog__item{
    border: 1px solid #dedcdd;
    padding: 15px;
    border-radius: 20px;
}

.blog   .blog__container    .blog__content  .blog__image .blog__all .blog__item span{
    font-size: 15px;
    font-weight: 600;
    color: #0abf53;
    padding: 7px 15px;
    display: inline-block;
    background-color: rgb(10 191 83 / 8%);
    border-radius: 20px;
}

.blog   .blog__container    .blog__content  .blog__image .blog__all .blog__item .blog__img img{
    display: block;
    width: 100%;
    border-radius: 15px;
    margin: 25px 0;
}

.blog   .blog__container    .blog__content  .blog__image .blog__all .blog__item h4{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 20px;
}

.blog   .blog__container    .blog__content  .blog__image .blog__all .blog__item h4:hover{
    color: #0abf53;
    transition: all 0.3s linear;
}

.blog   .blog__container    .blog__content  .blog__image .blog__all .blog__item p{
    font-size: 15px;
    color: #6b6768;
}

.blog   .blog__container    .blog__content  .blog__image .blog__all .blog__item p i{
    color: #0abf53;
    height: ;
}
/*blog*/

/*contact*/
.contact{
    background-color: #f4fdf8;
    padding: 48px 0;
}

.contact .contact__container{
    padding: 40px 0;
}

.contact .contact__container .contact__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact .contact__container .contact__content h3{
    font-size: 40px;
    font-weight: 500;
}

.contact .contact__container .contact__text .contact__content p{
    font-size: 18px;
    color: #6b6768;
}

.contact .contact__container .contact__phone ul{
    list-style: none;
    display: flex;
    align-items: center;
}

.contact .contact__container .contact__phone ul li{
    padding: 0 20px;
    font-size: 20px;
    font-weight: 300;
    color: #6b6768;
}

.contact .contact__container .contact__phone ul li:first-child{
    font-weight: 500;
    color: #060606;
    cursor: pointer;
}

.contact .contact__container .contact__phone ul li:first-child:hover{
    color: #0abf53;
    transition: all 0.3s linear;
}

.contact .contact__container .contact__phone ul li:last-child{
    padding: 15px 40px;
    color: #fff;
    background-color:#0abf53;
    border-radius: 30px;
    cursor: pointer;
}

.contact .contact__container .contact__phone ul li:last-child:hover{
    transform: translateY(-7px);
    transition: all 0.3s linear;
}
/*contact*/

/*fast*/
.fast{
    padding: 48px 0;
}

.fast .fast__container .fast__content{
    display: flex;
}

.fast .fast__container .fast__content .fast__item{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    text-align: center;
    padding: 0 15px;
}

.fast .fast__container .fast__content .fast__item .fast__icon{
    padding: 25px;
    box-shadow: -1px 7px 13px 0px rgb(10 10 10 / 8%);
    border-radius: 7px;
}

.fast .fast__container .fast__content .fast__item .fast__icon i{
    font-size: 30px;
    margin-bottom: 20px;
    color: #f9bd29;
}

.fast .fast__container .fast__content .fast__item .fast__icon h3{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}

.fast .fast__container .fast__content .fast__item .fast__icon p{
    font-size: 18px;
    font-weight: 400;
    color: #6b6768;
    line-height: 35px;
}
/*fast*/
/*discount*/
.discount{
    background-image: url(https://wp.w3layouts.com/foodies/wp-content/themes/foodies/assets/images/promo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.discount .discount__container .discount__content{
    display: flex;
    align-items: center;
}

.discount .discount__container .discount__content .discount__image{
    flex: 0 0 50%;
    max-width: 50%;
}

.discount .discount__container .discount__content .discount__image img{
    display: block;
}

.discount .discount__container .discount__content .discount__text{
    flex: 0 0 50%;
    max-width: 50%;
}

.discount .discount__container .discount__content .discount__text  span{
    font-size: 16px;
}

.discount .discount__container .discount__content .discount__text  h3{
    font-size: 30px;
    font-weight: 500;
    padding: 25px 0;
}

.discount .discount__container .discount__content .discount__text  p{
    font-size: 17px;
    color: #6b6768;
    line-height: 35px;
    padding-bottom: 35px;
}

.discount .discount__container .discount__content .discount__text .discount__all{
    display: i;
}

.discount .discount__container .discount__content .discount__text .discount__all label{
    font-weight: 600;
    display: inline-block;
    margin-bottom: 25px;
}

.discount .discount__container .discount__content .discount__text .discount__all input{
    height: 45px;
    position: relative;
    width: 70%;
    padding: 0 30px;
    font-size: 16px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border: 1px solid #c5bdbf;
}

.discount .discount__container .discount__content .discount__text .discount__all input:focus{
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.discount .discount__container .discount__content .discount__text .discount__all button{
    position: absolute;
    height: 45px;
    width: 160px;
    background-color: #0abf53;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border: none;
}

.discount .discount__container .discount__content .discount__text .discount__all button:focus{
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.discount .discount__container .discount__content .discount__text .discount__all p{
    margin-top: 25px;
}


.discount .discount__container .discount__content .discount__text .discount__all .discount__icon i{
    font-size: 15px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background-color: #060606;
    border-radius: 50%;
    cursor: pointer;
}

.discount .discount__container .discount__content .discount__text .discount__all .discount__icon i:hover{
    background-color: #0abf53;
    transition: all 0.3s linear;
}
/*discount*/
/*footer*/
.footer{
    padding: 48px 0;
}

.footer .footer__container .footer__content{
    display: flex;
}

.footer .footer__container .footer__content .footer__item{
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.footer .footer__container .footer__content .footer__item h3{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 25px;
}

.footer .footer__container .footer__content .footer__item h3 i{
    color: #0abf53;
}


.footer .footer__container .footer__content .footer__item p{
    font-size: 16px;
    color: #6b6768;
    line-height: 30px;
}

.footer .footer__container .footer__content .footer__item h4{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 25px;
}

.footer .footer__container .footer__content .footer__item a{
    display: block;
    text-decoration: none;
    padding-bottom: 20px;
    color: #6b6768;
}

.footer .footer__container .footer__content .footer__item .footer__icon{
    box-shadow: -1px 7px 13px 0px rgb(10 10 10 / 8%);
    padding: 20px;
}

.footer .footer__container .footer__content .footer__item .footer__icon h4{
    font-size: 25px;
}

.footer .footer__container .footer__content .footer__item .footer__icon input{
    height: 40px;
    font-size: 15px;
    width: 70%;
    padding: 0  25px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border: 1px solid rgb(197, 189, 191);
}

.footer .footer__container .footer__content .footer__item .footer__icon input:focus{
    outline: none;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    
}


.footer .footer__container .footer__content .footer__item .footer__icon button{
    position: absolute;
    height: 40px;
    width: 60px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border: none;
    background-color: #0abf53;
}

.footer .footer__container .footer__content .footer__item .footer__icon p{
    margin-top: 25px;
}
/*footer*/
